<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <!--정적으로 서비스 하는 public 폴더 이하 경로를 걸어줘야 한다. 그래서 /public/css/style.css 이 아니고 /css/style.css 이다.-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="my-font">My Products</h1>
        <p>List All of the products...</p>
    </main>
</body>
</html>